@import "../_snowpack/pkg/tailwindcss/dist/base.css";
@import "../_snowpack/pkg/tailwindcss/dist/components.css";
@import "../_snowpack/pkg/tailwindcss/dist/utilities.css";


.avocato-contanier {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    grid-gap: 8px; 
}

.avocato-card {
    display: grid;
    grid-template-columns: 80px auto;
}