@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';


.avocato-contanier {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 50px;
    grid-gap: 8px; 
}

.avocato-card {
    display: grid;
    grid-template-columns: 80px auto;
}